.movieBox {
  position: relative;
  width: 162px;
  height: 261px;
}

.movieImage {
  display: block;
  width: 162px;
  height: 220px;
}

.sellTicket {
  display: block;
  width: 162px;
  height: 39px;
  padding-top: 0.8rem;
  color: red;
  font-size: 1.5rem;
  border-bottom: 1px solid #efefef;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
}

.sellTicket:hover {
  cursor: pointer;
  background-color: red;
  color: white;
  text-decoration: none;
}

.movieMessage {
  width: 100%;
  position: absolute;
  bottom: 20%;
  color: white;
  background-color: #515354;
  opacity: 0.87;
  padding-top: 3px;
  padding-bottom: 3px;
}

.movieName {
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movieName, .movieScore {
  height: 22px;
  font-family: '黑体';
  font-size: 1.6rem;
}

.movieScore {
  padding-left: 7px;
  font-style: italic;
  color: #f5ad01;
}

.sellTicket {
  text-align: center;
}