<div class="buy-ticket-status">
  <div class="float done-step" align="center">
    <img class="done" src="../../../assets/done.png">
    <span class="done-span">1.选择影片，场次</span>
    <hr class="done-hr">
  </div>
  <div class="float done-step" align="center">
    <img class="done" src="../../../assets/done.png">
    <span>2.选座，填手机号</span>
    <hr>
  </div>
  <div class="float done-step" align="center">
    <img class="done" src="../../../assets/done.png">
    <span>3.确认订单，支付</span>
    <hr>
  </div>
  <div class="float" align="center">
    <span>4.支付成功，影院取票观影</span>
    <hr>
  </div>
</div>

<div class="pay-success">
  <h5 class="float">支付成功！</h5>
  <button class="float" routerLink="/user/myTickets">查看我的电影票</button>
</div>