<div class="navbar navbar-fixed-top main-nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a routerLink="" class="navbar-brand navbar-brand-my">
                Movie
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-responsive-collapse" aria-expanded="false">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" class="dropdown">
                    <a routerLink="index">首页</a>
                </li>
                <li class="dropdown">
                    <a routerLink="index">电影</a>
                </li>
                <li class="dropdown">
                    <a routerLink="index">榜单</a>
                </li>
            </ul>
            <ul *ngIf="!currentUser?.name" class="nav navbar-nav navbar-right">
                <li routerLinkActive="active">
                    <a routerLink="login">登录</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="register">注册</a>
                </li>
            </ul>
            <ul *ngIf="currentUser?.name" class="nav navbar-nav navbar-right">
                <li routerLinkActive="active">
                    <a routerLink="user">欢迎你：{{currentUser?.name}}</a>
                </li>
                <li>
                    <a (click)="logout()">退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="main-container">
    <router-outlet></router-outlet>
</div>
<!-- 底部区域 -->
<!-- <div class="footer bs-footer">
    <div class="container">
        <div class="row">
            <p>
                Powered by OldDrivers
            </p>
        </div>
    </div>
</div> -->