<div class="order-detail">
  <table>
    <tr class="menu">
      <td>电影</td>
      <td>场次</td>
      <td>座位</td>
    </tr>
    <tr class="info" *ngFor="let ticket of myTicketList">
      <td>
        <div class="movie-info">
          <img class="float poster" [src]="ticket.moviePoster">
          <div class="float movie-word-info">
            <h5>{{ticket.movieName}}</h5>
            <div>
              <span>类型：</span>
              <span>{{ticket.movieType}}</span>
            </div>
          </div>
        </div>
      </td>
      <td class="showing-info">
      <div>{{ticket.cinemaName}}</div>
      <div>{{ticket.roomName}}</div>
      <div>{{ticket.parseTime}}</div>
      </td>
      <td>
      <div class="seat-info">{{ticket.seatRowNum}}排{{ticket.seatColNum}}座</div>
      </td>
    </tr>
  </table>
</div>
