<div class="order-detail">
  <table>
    <tr class="menu">
      <td>电影</td>
      <td>场次</td>
      <td>票数/座位</td>
    </tr>
    <tr class="info">
      <td>
        <div class="movie-info">
          <img class="float poster" src="../../../assets/image.jpg">
          <div class="float movie-word-info">
            <h5>神奇女侠</h5>
            <div>
              <span>版本：</span>
              <span>英语 3D</span>
            </div>
            <div>
              <span>片长：</span>
              <span>142分钟</span>
            </div>
          </div>
        </div>
      </td>
      <td class="showing-info">
      <div>大地影院-人和华通店</div>
      <div>影厅4</div>
      <div>6月6日 (周二) 14:30</div>
      </td>
      <td>
      <div>1张</div>
      <div class="seat-info">7排8座</div>
      </td>
    </tr>
  </table>
</div>
