<div class="movie-description-container">
  <div class="movie-description">
    <div class="des">
      <h4>
        <span class="title">{{movie.name}}</span>
        <span class="score">{{movie.avgScore}}</span>
      </h4>
      <hr>
      <img [src]="movie.poster" class="image float">
      <div class="description float">
        <ul class="float messageTitle">
          <li>
            <span>首映：</span>
          </li>
          <li>
            <span>导演：</span>
          </li>
          <li>
            <span>类型：</span>
          </li>
          <li>
            <span>国家：</span>
          </li>
          <li>
            <span>语言：</span>
          </li>
          <li>
            <span>片长：</span>
          </li>
          <li>
            <span>主演：</span>
          </li>
        </ul>
        <ul class="float message">
          <li>
            <span>{{movie.releaseDate}}</span>
          </li>
          <li>
            <span>{{movie.director}}</span>
          </li>
          <li>
            <span>{{movie.movieType}}</span>
          </li>
          <li>
            <span>{{movie.area}}</span>
          </li>
          <li>
            <span>{{movie.language}}</span>
          </li>
          <li>
            <span>{{movie.length}}</span>
          </li>
          <li>
            <span>{{movie.actors}}</span>
          </li>
        </ul>
      </div>
    </div>
    <hr id="divider" class="clear">
    <div class="introduction">剧情介绍：{{movie.storyLine}}</div>
  </div>
</div>

<div class="select-cinema-container">
  <div class="select-cinema">
    <span>选择影院</span>
  </div>
  <hr>
  <div class="cinema-list">
    <div *ngFor="let cinema of cinemaList; index as i" class="select-box" [ngClass]="{'selected': i == selectedCinemaIndex}" (click)="selectCinema(cinema, i)">{{cinema.name}}</div>
  </div>
  <div class="select-date">
    <span>选择日期</span>
  </div>
  <hr>
  <div class="date-list">
    <div class="select-box" *ngFor="let date of showDateList; index as i" [ngClass]="{'selected': i == selectedDateIndex}" (click)="selectDate(date, i)">{{date}}</div>
  </div>
</div>

<div class="card-block cinema-movie-table">
  <table class="table table-striped">
      <thead>
          <tr>
              <th>放映时间</th>
              <th>类型</th>
              <th>放映厅</th>
              <th>现价/影院价（元）</th>
              <th>选座购票</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let showing of showingList; index as i">
              <td>{{showing.time}}</td>
              <td>{{movie.movieType}}</td>
              <td>{{showing.roomName}}</td>
              <td>
                  <div class="price">{{showing.price}}</div>
              </td>
              <td>
                <a class="buy-ticket" (click)="buyTickets(showing)">选座购票</a>
              </td>
          </tr>
      </tbody>
  </table>
</div>
