<div class="buy-ticket-status">
  <div class="float done-step" align="center">
    <img class="done" src="../../../assets/done.png">
    <span>1.选择影片，场次</span>
    <hr class="done-hr">
  </div>
  <div class="float done-step" align="center">
    <img class="done" src="../../../assets/done.png">
    <span>2.选座，填手机号</span>
    <hr class="done-hr">
  </div>
  <div class="float" align="center">
    <span>3.确认订单，支付</span>
    <hr>
  </div>
  <div class="float" align="center">
    <span>4.支付成功，影院取票观影</span>
    <hr>
  </div>
</div>

<div class="remind-pay">
  <h5>请您确认您的订单信息，并尽快完成付款</h5>
</div>

<div class="order-detail">
  <table>
    <tr class="menu">
      <td>电影</td>
      <td>场次</td>
      <td>票数/座位</td>
      <td>金额总计</td>
      <td>电话号码</td>
    </tr>
    <tr class="info">
      <td>
        <div class="movie-info">
          <img class="float poster" src="../../../assets/image.jpg">
          <div class="float movie-word-info">
            <h5>神奇女侠</h5>
            <div>
              <span>版本：</span>
              <span>英语 3D</span>
            </div>
            <div>
              <span>片长：</span>
              <span>142分钟</span>
            </div>
          </div>
        </div>
      </td>
      <td class="showing-info">
      <div>{{room.cinemaName}}</div>
      <div>{{room.roomName}}</div>
      <div>{{room.time}}</div>
      </td>
      <td>
      <div>{{room.seats.length}}张</div>
      <div class="seat-info" *ngFor="let seat of room.seats">{{seat[0]}}排{{seat[1]}}座</div>
      </td>
      <td class="count">￥{{room.totalPrice}}</td>
      <td class="phone">{{phone}}</td>
    </tr>
  </table>
</div>

<div class="price-info">
  <div class="price-count">
    <span>实付款:</span>
    <span>￥{{room.totalPrice}}</span>
  </div>
  <button class="confirm-button" (click)="confirmOrder()">确认订单，立即支付</button>
</div>
