.buy-ticket-status {
  overflow: auto;
  width: 60%;
  min-width: 990px;
  margin-left: auto;
  margin-right: auto;
}

.buy-ticket-status hr {
  border-width: 2px;
}

.buy-ticket-status img {
  margin-bottom: 5px;
}

.buy-ticket-status>div {
  width: 25%;
  color: #999999;
}

.done-step hr {
  margin-top: 18px;
  border-color: #26BB7E;
}

.done-step span {
  color: #26BB7E;
}

.buy-ticket-status>div:nth-child(3) {
  color: #EB002A;
}

.buy-ticket-status>div:nth-child(3) hr {
  border-color: #EB002A;
}

.remind-pay {
  position: relative;
  width: 60%;
  height: 88px;
  min-width: 990px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF3F3;
}

.remind-pay h5 {
  padding-top: 37px;
  padding-left: 20px;
  color: #EB002A;
  font-weight: bold;
}

.order-detail {
  width: 60%;
  min-width: 990px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.order-detail table {
  width: 100%;
  text-align: center;
}

.menu {
    height: 40px;
    line-height: 40px;
    background: #efefef;
}

.menu td:nth-child(1) {
  width: 26%;
}

.menu td:nth-child(2) {
  width: 24%;
}

.menu td:nth-child(3) {
  width: 12%;
}

.menu td:nth-child(4) {
  width: 14%;
}

.menu td:nth-child(5) {
  width: 24%;
}

.order-detail table td {
    border: 1px solid #ddd;
}

.info td {
  padding: 10px;
}

.movie-info {
  overflow: auto;
}

.movie-word-info {
  font-size: 1rem;
  height: 150px;
  margin-left: 16px;
}

.movie-word-info>h5 {
  font-weight: bold;
}

.movie-word-info div {
  margin-bottom: 6px;
}

.poster {
  width: 100px;
  height: 150px;
}

.showing-info div {
  margin-bottom: 10px;
}

.showing-info div:last-child {
  color: #eb002a;
}

.seat-info {
  color: #999;
  border: 1px solid #ddd;
  padding: 5px 10px;
  margin-top: 6px;
}

.count {
  font-family: Verdana,Geneva,sans-serif;
  font-size: 22px;
  color: #eb002a;
}

.phone {
  color: #333;
  text-align: center;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.price-info {
  position: relative;
  width: 60%;
  height: 130px;
  min-width: 990px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.price-count {
  position: absolute;
  right: 15px;
  line-height: 80px;
}

.price-count span:nth-child(2) {
  font-family: Verdana,Geneva,sans-serif;
  font-size: 22px;
  color: #eb002a;
  font-weight: 600;
}

.confirm-button {
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-size: 14px;
  background-color: #eb002a;
  width: 220px;
  height: 47px;
  line-height: 42px;
  float: right;
  color: #fff;
  text-align: center;
  border: 0;
}

.confirm-button:hover {
  background-color: #F33658;
}